[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log -p
  cp = cherry-pick
  cpc = cherry-pick --continue
  rb = rebase
  fp = fetch -p
  rbc = rebase --continue
  rbh = rebase -i HEAD~2
  pom = pull origin master

